<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Email Validation With Database</title>
</head>
<body>
    <form action="/check_email" method="POST">
        Enter An Email To Check: <input type="text" name="new_email">
        <input type="submit" value="Submit">
    </form>

    <form action="reset_db">
        <input type="submit" value="Reset Database">
    </form>
    {% for each_row in email_data %}
        <p>Email Address: {{ each_row.email }} Date Created: {{ each_row.created_on}} </p>
    {% endfor %}
    
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
        <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
     {% endwith %}
    
</body>
</html>