<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Counter Assignment</title>
</head>
<body>
    <h1>Counter Assignment</h1>
    <h3>This is the Root Route page</h3>
    <h2>This is how many times you've visited this page: {{ session["counter"] }}</h2>
    <form action="add_two">
        <button type="submit">+2</button>
    </form>
    <br>
    <form action="reset_button">            
        <button type="submit">Reset</button>
    </form>
</body>
</html>