<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>What's My Name?</title>
</head>
<body>
    <h1>What's My Name?</h1>
    <h3>This is the root route</h3>

    <form action="/process" method="POST">
    Credit Card <input type="text" name="credit_card">
    <input type="submit" value="Submit CC" >

    Cell Phone: <input type="text" name="cell_number">
    <input type="submit" value="Submit Cell Number">

    </form>
</body>
</html>