<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Landing Page: Ninjas</title>
</head>
<body>
    <h1>Landing Page: Ninjas</h1>
    <h3>Ninjas Route</h3>
    <p>Ninjas were originally farmers who rebelled against the aristocracy of fuedal Japan. They developed a martial art called "Ninjutsu", which relies heavily on misdirection, and mind tricks. Ninjitsu's weapons were farming implement repurposed.
    </p>
</body>
</html>