<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Random Word Generator</title>
</head>

<body>
    <h1>Random Word Generator</h1>

    Your random word (14 chars long) is: {{ request.session.random_word.word }}
    <br> Random Word #{{ request.session.counter }}
    <br>
    <form action="random_word/generate" method="POST">
        {% csrf_token %}
            <input type="submit" value="Generate">
    </form>
    <form action="random_word/reset" method="POST">
        {% csrf_token %}
            <input type="submit" value="Reset">
    </form>
</body>

</html>